@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../public/bg.svg"), lightgray 50% / cover no-repeat;
  background-color: #293040;
  background-size: cover;
}

.landingsearchbar {
    border-radius: 100px;
    background: rgba(229, 218, 192, 0.25);
}

.dropdowns {
    border-radius: 15px;
    border: 1px solid #BCA875;
    background: rgba(217, 217, 217, 0.10);
}

.footer-bg {
    background: linear-gradient(180deg, rgba(41, 48, 64, 0.14) 0%, #293040 100%);
}